* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.btn {
    min-width: 150px;
}

/* S : Scroll Bar */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* E : Scroll Bar */

.bg-black{
    background: #000000;
}

li{
    margin:0px;
    padding:0px;
}